{% extends '::base.html.twig' %}

{% block content %}
	<div id="welcomeCenter">
		<h1 id="welcomeMessage">Welcome to Projectify {{  app.user.email }}!</h1>
		<p>Before you can get started, you of course need a project to manage!</p>
		<p>
			<a href="{{ path('add_project') }}">
				<button id="addProjectButton">Add a new project</button>
			</a>
		</p>
	</div>
{% endblock %}