{% extends 'PRO4LoginBundle::base.html.twig' %}

{% block head %}
	<header>
		<div class="headings">
      		<h1>Projectify</h1>
      		<h2>Managing the easy way</h2>
      	</div>
      	<a id="signUp" href="#">Sign Up!</a>
	</header>
{% endblock %}
{% block content %}
	<form method="post" id='signUpDialog' action="{{ action }}" {% block onload %} {% endblock %}>
		{% block form %} {% endblock %}
	</form>
	<div id="descriptionWrap">
			<div class="indexDescription">
				<h3>Simplifying Project Management</h3>
				<p>Projectify was developed to simplify the process of managing your projects.</p>
				<p>Especially when working in small groups, project management often falls short. To prevent your project from suffering from poor administration, we developed an easy-to-use online tool to help you manage your projects more efficiently, wherever you are.</p>
			</div>
			<div class="indexDescription">
				<h3>Concentrate on the important things!</h3>
				<p>There isn't enough time for writing milestone-plans and proper to-do lists? Save your time by building all the boring stuff through our tool!</p>
				<p>Never get put off by extensive e-mail traffic anymore: Our platform also includes a calandar and file-sharing!</p>
				<p>Give it a go, you'll be surprised how painless project management can be.</p>
			</div>
			<div class="indexDescription">
				<h3>Sophisticated Permission System</h3>
				<p>Our calendar, to-do lists, milestone plan and file-sharing all rely on well-established permission-mechanisms, which allow you to split your project into departments and grant your seniors and managers administration-rights.</p>
				<p>You don't have to do all the work alone, make collaboration easy, by use our secure permission system.</p> 
			</div>
	</div>

		
{% endblock %}