{% extends 'PRO4ProjectBundle:Department:overview.html.twig' %}

{% block form %}
	<form method="post" id="addNewDepartment">
		{{ form_row(form.name) }}
		<span class="hashTag">#</span>{{ form_row(form.color) }}
		{{ form_widget(form) }}
	</form>

{% endblock %}
