* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
	color: #222222;
	background-color: #F9F9F9;
	background-image: url("../../../img/bg.png")
}

#mainMenu ul,
#mainMenu li,
#mainMenu a {
	position: relative;
}
#mainMenu ul:after {
	display: block;
	clear: both;
}
#mainMenu > ul{
	list-style: none;
	/*margin-left: 3em;*/
	max-width: 960px;
	margin: 0 auto;
}
#mainMenu > ul > li {
  	float: left;
}
#mainMenu {
	width: 100%;
	height: 2.4em;
	background-image: linear-gradient(top, #EEEEEE, #CCCCCC);
	background-image: -o-linear-gradient(top, #EEEEEE, #CCCCCC);
	background-image: -moz-linear-gradient(top, #EEEEEE, #CCCCCC);
	background-image: -webkit-linear-gradient(top, #EEEEEE, #CCCCCC);
	background-image: -ms-linear-gradient(top, #EEEEEE, #CCCCCC);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEEEEE', endColorstr='#CCCCCC',GradientType=0 );
	box-shadow: 0px 1px 5px #888888;
	min-width: 640px;
	position: relative;
	z-index: 6;
}
#mainMenu > ul > li > a {
	display:block;
	height: 100%;
	padding: 0.5em 1em;
	text-decoration: none;
	font-size: 1.1em;
	color: #222222;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.2);
	letter-spacing: 0.05em;
	z-index: 9;
}
#mainMenu > ul > li > a:hover .hoverHelp{
	opacity: 1;
}

.hoverHelp {
	position: absolute;
	z-index: -1;
	top: 0em;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(top, #CEE7B3, #87A666);
	background-image: -o-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -ms-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -moz-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -webkit-linear-gradient(top, #CEE7B3, #87A666);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CEE7B3', endColorstr='#87A666',GradientType=0 );
	opacity: 0;
	transition: opacity 0.4s;
}
.arrow {
	margin-left: 0.3em;
	font-size: 0.7em;		
}
#mainMenu .hasSub ul{
	list-style-type: none;
	display:none;
	position: absolute;
	clear:left;
	background-image: linear-gradient(top, #EEEEEE, #CCCCCC);
	background-image: -o-linear-gradient(top, #EEEEEE, #CCCCCC);
	background-image: -moz-linear-gradient(top, #EEEEEE, #CCCCCC);
	background-image: -webkit-linear-gradient(top, #EEEEEE, #CCCCCC);
	background-image: -ms-linear-gradient(top, #EEEEEE, #CCCCCC);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEEEEE', endColorstr='#CCCCCC',GradientType=0 );
	min-width: 100%;
}
#mainMenu .hasSub:hover ul{
	display:block;
	box-shadow: 0px 1px 5px #888888;
	z-index: 5;
}
#mainMenu .hasSub:hover ul > li{
	background-color: #87A666;
}
#mainMenu .hasSub:hover ul > li > a{
	display: block;
	text-decoration: none;
	font-size: 0.8em;
	color: #222222;
	padding: 0.2em 0.4em;
	margin-left: 0.2em;
	border-top: 1px solid rgba(0,0,0,0.2);
	background-image: linear-gradient(top, #EEEEEE, #DDDDDD);
	background-image: -o-linear-gradient(top, #EEEEEE, #DDDDDD);
	background-image: -moz-linear-gradient(top, #EEEEEE, #DDDDDD);
	background-image: -webkit-linear-gradient(top, #EEEEEE, #DDDDDD);
	background-image: -ms-linear-gradient(top, #EEEEEE, #DDDDDD);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEEEEE', endColorstr='#DDDDDD',GradientType=0 );
	transition: margin-left 0.25s;
}
#mainMenu .hasSub ul > li > a:hover{
	margin-left: 0.4em;
}

div#content {
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	clear: both;
	padding: 1em;
	max-width: 960px;
	margin: 0 auto;
	background-color: #F3F3F3;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
footer {
	margin-top: 0.7em;
	text-align: center;
	font-size: 0.7em;
}
footer a{
	color: #67B21B;
	text-decoration: none;
	transition: color 0.5s;
}
footer a:hover{
	color: #82C936;
}

/* ----- Change Project Dialog ----- */
#changeProject{
	font-size: 0.9em;
}
#newProjectNameContainer{
	width: 100%;
	clear: both;
}
#changeProject select{
	height: 1.8em;
	padding-top: 0.2em;
}
#changeProject label, input, select, textarea{
	margin-top: 0.3em;
	height: 1.6em;
	position: relative;
	display: block;
}
#changeProject label {
	width: 130px;
	float: left;
	border: 1px solid rgba(0,0,0,0);
}
#changeProject input, select, textarea{
	width: 230px;
	float: right;
	resize: none;
}
#changeProject textarea{
	height: 4.8em;
}
#changeProject button{
	background: #2B81AF;
}

/* ----- Index ----- */
header {
	max-width: 960px;
	margin: 0 auto;
	background-image: url("../../../img/bgheader.jpg");
	height: 390px;
	padding: 1em;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	position: relative;
	z-index: 10;
}
.headings {
	color: #9ed264;
	margin: 1em;
}
header h2 {
	font-size: 1.4em;
	text-indent: 0.5em;
}
#signUp {
	text-decoration: none;
	font-size: 1.2em;
	font-weight: bold;
	color: #F6F6F6;
	position: absolute;
	bottom: 1.6em;
	right: 2.1em;
	padding: 0.7em 1em;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
	background-image: linear-gradient(top, #CEE7B3, #87A666);
	background-image: -o-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -ms-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -moz-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -webkit-linear-gradient(top, #CEE7B3, #87A666);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CEE7B3', endColorstr='#87A666',GradientType=0 );
	border-radius: 3px;
	transition:  color 0.5s, box-shadow 0.5s;
}
#signUp:hover {
	color: #FFFFFF;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

#descriptionWrap {
	margin-top: 0.6em;
	text-align: center;
}

div.indexDescription {
	width: 28%;
	display: inline-block;
	text-align: left;
	margin: 0 0.5em;
	padding: 0.5em;
	background-color: #F9F9F9;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
div.indexDescription h3 {
	color: #9ed264;
	margin-bottom: 0.3em;
	text-indent: 0.1em;
	box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.2);
}
div.indexDescription p {
	font-size: 0.9em;
}

#signUpDialog {
	font-size: 0.9em;
}

#signUpDialog #registerWrap{
	float: right;
}
#signUpDialog #loginWrap{
	float: left;
}
#signUpDialog .radioWrap input{
	display: none;
}
#signUpDialog .radioWrap a {
	display:block;
	width:100%;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	text-align: center;
	font-size: 1.1em;
	text-decoration: none;
}
#registerWrap, 
#loginWrap{
	width: 50%;
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.2);
	background-image: linear-gradient(top, #EEEEEE, #CCCCCC);
	background-image: -o-linear-gradient(top, #EEEEEE, #CCCCCC);
	background-image: -moz-linear-gradient(top, #EEEEEE, #CCCCCC);
	background-image: -webkit-linear-gradient(top, #EEEEEE, #CCCCCC);
	background-image: -ms-linear-gradient(top, #EEEEEE, #CCCCCC);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEEEEE', endColorstr='#CCCCCC',GradientType=0 );
	background-color: #F39814;
}
#loginWrap.selectedMode, 
#registerWrap.selectedMode{
	font-weight: bold;
	background-image: linear-gradient(top, #CEE7B3, #87A666);
	background-image: -o-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -ms-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -moz-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -webkit-linear-gradient(top, #CEE7B3, #87A666);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CEE7B3', endColorstr='#87A666',GradientType=0 );
}

#signUpDialog label, 
input[type=text], 
input[type=password]{
	margin-top: 0.3em;
	height: 1.6em;
	position: relative;
	display: block;
}

#signUpDialog .inputsWrap, 
#repeatPasswordWrap {
	clear:both;
}
#signUpDialog label {
	width: 130px;
	float: left;
	border: 1px solid rgba(0,0,0,0);
}
#signUpDialog input[type=text], 
input[type=password], 
input[type=email]{
	width: 230px;
	float: right;
	resize: none;
}
ul.error , .success{
	position: absolute;
	list-style-type: none;
	top: -1px;
	padding: 1em 2em;
	width: 35em;
	right: 40em;
	left: 40em;
	z-index: 999;
	display: block;
	text-align: center;
	background-color: #ffffff;
	border: 1px solid #CEE7B3;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
/* ----- Members ----- */

#memberlist {
	display: inline-block;
	vertical-align: top;
	float: none;
	height: 100%;
	width: 65%;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	border: 0;
	margin-left: 1em;
}
#memberlist input {
	display: none;
}
#memberlist > label {
	display:block;
	font-size: 1em;
	padding: 0.1em 0.2em;
	background-color: #FFFFFF;
}
#memberlist > label:hover {
	background-color: #F7F7F7;
}
#memberlist > label > span.email{
	font-size: 0.9em;
	color: #555555;
	font-style: italic;
	font-weight: normal;
}
#memberlist > input:checked + label{
	background-color: #CEE7B3;
	background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));
	background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0)', endColorstr='rgba(0,0,0,0.05)',GradientType=0 );
}
#memberlist > input:checked + label:hover{
	background-color: #C8E0AD;
}
#memberlist > input.admin + label{
	font-weight: bold;
}
#members button{
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	color: #F6F6F6;
	border: 0;
	padding: 0.5em 1em;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
	background-image: linear-gradient(top, #CEE7B3, #87A666);
	background-image: -o-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -ms-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -moz-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -webkit-linear-gradient(top, #CEE7B3, #87A666);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CEE7B3', endColorstr='#87A666',GradientType=0 );
	border-radius: 3px;
	transition:  color 0.5s, box-shadow 0.5s;
	cursor: pointer;
}
#members button:hover {
	color: #FFFFFF;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

#members #editmembers{
	display: inline-block;
	float: right;
	width: 25%;
	margin-right: 1em;
}
#members #editmembers > button{
	margin-bottom: 0.2em;
	width: 100%;
}
#members #editmembers > hr{
	border: solid 1px #CCCCCC;
	color: #777777;
	margin: 0.2em 0;
}
#members button:active{
	background-image: linear-gradient(top, #87A666, #CEE7B3);
	background-image: -o-linear-gradient(top, #87A666, #CEE7B3);
	background-image: -ms-linear-gradient(top, #87A666, #CEE7B3);
	background-image: -moz-linear-gradient(top, #87A666, #CEE7B3);
	background-image: -webkit-linear-gradient(top, #87A666, #CEE7B3);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87A666', endColorstr='#CEE7B3',GradientType=0 );
}
.groupIdentifier {
	display: inline-block;
	width: 1.2em;
	float:right;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: help;
	margin-left:0.1em;
	background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));
	background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0)', endColorstr='rgba(0,0,0,0.05)',GradientType=0 );
}
#memberlist label img {
	height: 1em;
	width: 1em;
	margin-left: 0.2em;
	cursor: help;
	vertical-align: middle;
}
/* ----- Groups ----- */

#grouplist {
	display: inline-block;
	vertical-align: top;
	float: none;
	height: 100%;
	width: 65%;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	border: 0;
	margin-left: 1em;
}
#grouplist input {
	display: none;
}
#grouplist label {
	display:block;
	font-size: 1em;
	padding: 0.1em 0.2em;
	background-color: #FFFFFF;
	margin-left: 1.5em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#grouplist label:hover {
	background-color: #F7F7F7;
}
#grouplist input:checked + label{
	background-color: #CEE7B3;
	background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));
	background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0)', endColorstr='rgba(0,0,0,0.05)',GradientType=0 );
}
#grouplist input:checked + label:hover{
	background-color: #C8E0AD;
}

#groups button{
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	color: #F6F6F6;
	border: 0;
	padding: 0.5em 1em;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
	background-image: linear-gradient(top, #CEE7B3, #87A666);
	background-image: -o-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -ms-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -moz-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -webkit-linear-gradient(top, #CEE7B3, #87A666);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CEE7B3', endColorstr='#87A666',GradientType=0 );
	border-radius: 3px;
	transition:  color 0.5s, box-shadow 0.5s;
	cursor: pointer;
}
#groups button:hover {
	color: #FFFFFF;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

#groups #editgroups{
	display: inline-block;
	float: right;
	width: 25%;
	margin-right: 1em;
}
#groups #editgroups > button{
	margin-bottom: 0.2em;
	width: 100%;
}
#groups #editgroups > hr{
	border: solid 1px #CCCCCC;
	color: #777777;
	margin: 0.2em 0;
}
#groups button:active{
	background-image: linear-gradient(top, #87A666, #CEE7B3);
	background-image: -o-linear-gradient(top, #87A666, #CEE7B3);
	background-image: -ms-linear-gradient(top, #87A666, #CEE7B3);
	background-image: -moz-linear-gradient(top, #87A666, #CEE7B3);
	background-image: -webkit-linear-gradient(top, #87A666, #CEE7B3);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87A666', endColorstr='#CEE7B3',GradientType=0 );
}
#grouplist > div {
	background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0)', endColorstr='rgba(0,0,0,0.2)',GradientType=0 );
}
.one {
	background-color: #41a64e;
}
.two {
	background-color: #416cb3;
}
.three {
	background-color: #be43ae;
}
.four {
	background-color: #c49649;
}
/* ----- Change Project ----- */

ul.projectlist{
	list-style-type: none;
	width: 100%;
	text-align: center;
}
ul.projectlist > li.project {
	width: 45%;
	background-color: #F9F9F9;
	margin: 0.6em 1em;
	display: inline-block;
	border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	cursor: pointer;
}
ul.projectlist > li.project a{
	text-decoration: none;
	color: #222222;
}
ul.projectlist > li.project h2 {
	font-size: 1.1em;
	font-weight: bold;
	padding: 0.4em;
	color: #F6F6F6;
	text-shadow: 0 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
	background-image: linear-gradient(top, #CEE7B3, #87A666);
	background-image: -o-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -ms-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -moz-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -webkit-linear-gradient(top, #CEE7B3, #87A666);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CEE7B3', endColorstr='#87A666',GradientType=0 );
}
ul.projectlist > li.project p{
	padding: 0.4em;
	text-align: left;
}
ul.projectlist > li.project:hover{
	box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
}

/* ----- Settings ----- */

#projectInfos{
	list-style-type: none;
	display: inline-block;
	width: 70%;
}
#projectInfos > li > span.infoName{
	width: 30%;
	display: inline-block;
	vertical-align: top;
}
#projectInfos > li > span.info{
	font-weight: bold;
	color: #9ed264;
	width: 65%;
	display: inline-block;
}

#changeProjectInfos{
	text-decoration: none;
	font-size: 1.1em;
	font-weight: bold;
	color: #F6F6F6;
	border: 0;
	padding: 0.5em 1em;
	width: 20%;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
	background-image: linear-gradient(top, #CEE7B3, #87A666);
	background-image: -o-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -ms-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -moz-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -webkit-linear-gradient(top, #CEE7B3, #87A666);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CEE7B3', endColorstr='#87A666',GradientType=0 );
	border-radius: 3px;
	transition:  color 0.5s, box-shadow 0.5s;
	vertical-align: top;
	float:right;
	cursor: pointer;
}
#changeProjectInfos:hover {
	color: #FFFFFF;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}


/* ----- ToDo List ----- */
#todoWrap{
	text-align: center;
}
.todoContainer {
	display: inline-block;
	margin: 0 0.5em;
	width: 20%;
	background-color: #F9F9F9;
	border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	overflow: hidden;
	vertical-align: top;
}
.todoContainer > h1{
	font-size: 1em;
	font-weight: bold;
	padding: 0.4em;
	color: #F6F6F6;
	text-shadow: 0 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
	background-image: linear-gradient(top, #CEE7B3, #87A666);
	background-image: -o-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -ms-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -moz-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -webkit-linear-gradient(top, #CEE7B3, #87A666);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CEE7B3', endColorstr='#87A666',GradientType=0 );
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.todoContainer > ul{
	list-style-type: none;
}
.todoContainer > ul > li:first-child{
	margin-top: 0.3em;
}
.todoContainer > ul > li{
	font-size: 0.9em;
	text-align: left;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	padding: 0.2em 0.3em;
}
.todoContainer > ul > input{
	width: 100%;
	border: none;
	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.2);
	padding: 0.2em 0.3em;
}
.todoContainer > ul > li:hover{
	background-color: #F4F4F4;
}
.todoContainer > div.todoFooter{
	color: #F4F4F4;
	font-size: 1.3em;
	font-weight: bold;
	cursor: pointer;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	background-image: linear-gradient(top, #CEE7B3, #87A666);
	background-image: -o-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -ms-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -moz-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -webkit-linear-gradient(top, #CEE7B3, #87A666);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CEE7B3', endColorstr='#87A666',GradientType=0 );
}
.todoContainer > div.todoFooter:hover{
	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.2);
}


/* ----- Calendar ----- */
.calendar {
	border-collapse: collapse;
	border: 1px solid #BDBDBD;
	width: 100%;
}
.calendar td {
	border: 1px solid #BDBDBD;
	width: 14%;
	height: 7em;
	font-size: 0.8em;
	vertical-align: top;
	text-align: left;
	padding: 0.1em 0.2em;
	z-index: 9;
}
.calendar caption{
	font-size: 1.2em;
	font-weight: bold;
	padding: 0.4em;
	color: #F6F6F6;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
	background-image: linear-gradient(top, #CEE7B3, #87A666);
	background-image: -o-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -ms-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -moz-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -webkit-linear-gradient(top, #CEE7B3, #87A666);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CEE7B3', endColorstr='#87A666',GradientType=0 );
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.calendar th.header{
	font-size: 0.8em;
	padding-bottom: 0.3em;
	padding-top: 0.4em;
	background-color: #F9F9F9;
}
.evenRow {
	background-color: #FFFFFF;
}
.oddRow {
	background-color: #F8F8F8;
}
.today {
	/*background-color: #CEE7B3;*/
	background-color: #edf4e5;
}
.dayHover {
	/*background-color: #edf4e5;*/
	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.2);
}
.event {
	width: 100%;
	display: block;
	background-color: #CEE7B3;
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.2);
	z-index: 10;
}
.event:hover {
	box-shadow: inset 0px 0px 2px rgba(0,0,0,0.2);
}
#newEvent {
	font-size: 0.9em;
}
#newEvent label, input, textarea{
	margin-top: 0.3em;
	height: 1.6em;
	position: relative;
	display: block;
}
#newEvent label {
	width: 130px;
	float: left;
	border: 1px solid rgba(0,0,0,0);
}
#newEvent input, textarea{
	width: 230px;
	float: right;
	resize: none;
}
#newEvent textarea{
	height: 4.8em;
}
#newEvent button{
	background: #2B81AF;
}

/* ----- Milestones ----- */
#addNewMilestoneButton{
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	color: #F6F6F6;
	border: 0;
	padding: 0.5em 1em;
	width: 20%;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
	background-image: linear-gradient(top, #CEE7B3, #87A666);
	background-image: -o-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -ms-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -moz-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -webkit-linear-gradient(top, #CEE7B3, #87A666);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CEE7B3', endColorstr='#87A666',GradientType=0 );
	border-radius: 3px;
	transition:  color 0.5s, box-shadow 0.5s;
	cursor: pointer;
	float:right;
}
#addNewMilestoneButton:hover{
	color: #FFFFFF;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}
.milestoneFilter{
	display: inline-block;
	font-size: 1em;
	padding: 0.5em 0.5em;
	width: 1.2em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	margin-left:0.05em;
	background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0)', endColorstr='rgba(0,0,0,0.2)',GradientType=0 );
}
.disabledMilestone{
	background-image: linear-gradient(top, rgba(255,255,255,0.4), rgba(255,255,255,0.4));
	background-image: -o-linear-gradient(top, rgba(255,255,255,0.4), rgba(255,255,255,0.4));
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0.4), rgba(255,255,255,0.4));
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.4), rgba(255,255,255,0.4));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.4), rgba(255,255,255,0.4));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255,255,255,0.4)', endColorstr='rgba(255,255,255,0.4)',GradientType=0 );
}
#milestonePlan{
	margin-top: 0.3em;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	border: 0;
}
#milestonePlan hr{
	margin-bottom: 0.3em;
	border: solid 1px #CCCCCC;
	color: #777777;
	margin: 0.2em 0;
}
#start, #end{
	position: relative;
	display: inline;
	padding: 0.3em 0.8em;
	font-weight: bold;
	color: #9ed264;
}
#start{
	float: left;
}
#end{
	float: right;
}
#milestoneCanvas{
	clear: both;
	padding-bottom: 0.3em;
	position: relative;
	overflow: hidden;
}

.milestone{
	position: absolute;
	padding: 3px;
	color: #ffffff;
	height: 20px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
	background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0)', endColorstr='rgba(0,0,0,0.2)',GradientType=0 );
}
.milestone img{
	margin-top: 0.1em;
	margin-right: 0.1em;
	float:right;
	height: 1em;
	width: 1em;
	vertical-align: bottom;
	opacity: 0.7;
}
.milestone img:hover{
	opacity: 1;
}
/* ----- Files ----- */

#filesWrap{
	text-align: center;
}
#filesPath{
	text-align: left;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0 5.5em 1em;
	padding: 0.4em;
	color: #F6F6F6;
	text-shadow: 0 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
	background-image: linear-gradient(top, #CEE7B3, #87A666);
	background-image: -o-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -ms-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -moz-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -webkit-linear-gradient(top, #CEE7B3, #87A666);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CEE7B3', endColorstr='#87A666',GradientType=0 );
}
#filesPath > span{
	font-size: 1.1em;
	margin-left: 1em;
}
.fileContainer{
	display: inline-block;
	margin: 0 0.5em;
	width: 15%;
	background-color: #F9F9F9;
	border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	overflow: hidden;
	vertical-align: top;
	text-align: center;
	border-radius: 3px;
	margin-bottom: 1em;
	cursor: pointer;
	transition: box-shadow 0.5s;
	text-decoration: none;
}
.fileContainer img{
	border: none;
}
.fileContainer:hover{
	box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

.fileContainer figcaption{
	font-size: 0.9em;
	font-weight: bold;
	padding: 0.4em;
	color: #F6F6F6;
	text-shadow: 0 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
	background-image: linear-gradient(top, #CEE7B3, #87A666);
	background-image: -o-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -ms-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -moz-linear-gradient(top, #CEE7B3, #87A666);
	background-image: -webkit-linear-gradient(top, #CEE7B3, #87A666);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CEE7B3', endColorstr='#87A666',GradientType=0 );
}

