{% extends 'PRO4ProjectBundle:UsersInProject:overview.html.twig' %}

{% block form %}
	<form method="post" id="inviteNewUser">
		{{ form_row(form.eMail) }}
		{{ form_widget(form) }}
	</form>

{% endblock %}
