{% extends '::base.html.twig' %}

{% block content %}
	<h1>Milestone Plan</h1>
	<p>
		The following data is necessary for adding your project's milestones
	</p>
	<form method="post" id="milestonePlanForm">
			{{ form_row(form.start_date) }}
			{{ form_row(form.end_date) }}
		{{ form_widget(form) }}
		<div id="milestonePlanButtonHolder">
			<button type="submit" id="milestonePlanButton">Save Project</button>
		</div>
	</form>
		
{% endblock %}